<!DOCTYPE html>
<html>
<body>

<form action="/action_page.php">
  Human:
  <input type="text" placeholder="gggggg" name="Human:" style="width:50%">
	<br>
	Human:
  <input type="text" class="form-control" placeholder="Human" name="human:" value="{{request.form.human}}" style="width:50%">
	<br><br>
	<input type="submit" value="Submit">
	<br><br>
  Robot:
  <input type="text" name="Robot:" value="Mouse" style="width:50%">
  <br><br>
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>

